opc/opc-ejb/src/main/resources/META-INF/wsdl/AirlinePurchaseOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="AirlinePurchaseOrderService" targetNamespace="urn:AirlinePurchaseOrderService" xmlns:tns="urn:AirlinePurchaseOrderService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="urn:AirlinePurchaseOrderService" xmlns:tns="urn:AirlinePurchaseOrderService" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="submitAirlineReservationDetails">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="submitAirlineReservationDetailsResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="InvalidOrderException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <complexType name="OrderSubmissionException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <element name="submitAirlineReservationDetails" type="tns:submitAirlineReservationDetails"/>
      <element name="submitAirlineReservationDetailsResponse" type="tns:submitAirlineReservationDetailsResponse"/>
      <element name="OrderSubmissionException" type="tns:OrderSubmissionException"/>
      <element name="InvalidOrderException" type="tns:InvalidOrderException"/></schema></types>
  <message name="AirlinePOIntf_submitAirlineReservationDetails">
    <part name="parameters" element="tns:submitAirlineReservationDetails"/></message>
  <message name="AirlinePOIntf_submitAirlineReservationDetailsResponse">
    <part name="result" element="tns:submitAirlineReservationDetailsResponse"/></message>
  <message name="InvalidOrderException">
    <part name="InvalidOrderException" element="tns:InvalidOrderException"/></message>
  <message name="OrderSubmissionException">
    <part name="OrderSubmissionException" element="tns:OrderSubmissionException"/></message>
  <portType name="AirlinePOIntf">
    <operation name="submitAirlineReservationDetails">
      <input message="tns:AirlinePOIntf_submitAirlineReservationDetails"/>
      <output message="tns:AirlinePOIntf_submitAirlineReservationDetailsResponse"/>
      <fault name="InvalidOrderException" message="tns:InvalidOrderException"/>
      <fault name="OrderSubmissionException" message="tns:OrderSubmissionException"/></operation></portType>
  <binding name="AirlinePOIntfBinding" type="tns:AirlinePOIntf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submitAirlineReservationDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output>
      <fault name="InvalidOrderException">
        <soap:fault name="InvalidOrderException" use="literal"/></fault>
      <fault name="OrderSubmissionException">
        <soap:fault name="OrderSubmissionException" use="literal"/></fault></operation></binding>
  <service name="AirlinePurchaseOrderService">
    <port name="AirlinePOIntfPort" binding="tns:AirlinePOIntfBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
