opc/opc-ejb/src/main/resources/META-INF/wsdl/LodgingPurchaseOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="LodgingPurchaseOrderService" targetNamespace="urn:LodgingPurchaseOrderService" xmlns:tns="urn:LodgingPurchaseOrderService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="urn:LodgingPurchaseOrderService" xmlns:tns="urn:LodgingPurchaseOrderService" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="submitLodgingReservationDetails">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="submitLodgingReservationDetailsResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="InvalidOrderException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <complexType name="OrderSubmissionException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <element name="submitLodgingReservationDetails" type="tns:submitLodgingReservationDetails"/>
      <element name="submitLodgingReservationDetailsResponse" type="tns:submitLodgingReservationDetailsResponse"/>
      <element name="OrderSubmissionException" type="tns:OrderSubmissionException"/>
      <element name="InvalidOrderException" type="tns:InvalidOrderException"/></schema></types>
  <message name="LodgingPOIntf_submitLodgingReservationDetails">
    <part name="parameters" element="tns:submitLodgingReservationDetails"/></message>
  <message name="LodgingPOIntf_submitLodgingReservationDetailsResponse">
    <part name="result" element="tns:submitLodgingReservationDetailsResponse"/></message>
  <message name="InvalidOrderException">
    <part name="InvalidOrderException" element="tns:InvalidOrderException"/></message>
  <message name="OrderSubmissionException">
    <part name="OrderSubmissionException" element="tns:OrderSubmissionException"/></message>
  <portType name="LodgingPOIntf">
    <operation name="submitLodgingReservationDetails">
      <input message="tns:LodgingPOIntf_submitLodgingReservationDetails"/>
      <output message="tns:LodgingPOIntf_submitLodgingReservationDetailsResponse"/>
      <fault name="InvalidOrderException" message="tns:InvalidOrderException"/>
      <fault name="OrderSubmissionException" message="tns:OrderSubmissionException"/></operation></portType>
  <binding name="LodgingPOIntfBinding" type="tns:LodgingPOIntf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submitLodgingReservationDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output>
      <fault name="InvalidOrderException">
        <soap:fault name="InvalidOrderException" use="literal"/></fault>
      <fault name="OrderSubmissionException">
        <soap:fault name="OrderSubmissionException" use="literal"/></fault></operation></binding>
  <service name="LodgingPurchaseOrderService">
    <port name="LodgingPOIntfPort" binding="tns:LodgingPOIntfBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
