apps/bank/ejb/src/generated/resources/META-INF/wsdl/CreditCardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CreditCardService" targetNamespace="urn:CreditCardService" xmlns:tns="urn:CreditCardService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="urn:CreditCardService" xmlns:tns="urn:CreditCardService" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="validateCreditCard">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="validateCreditCardResponse">
        <sequence>
          <element name="result" type="boolean"/></sequence></complexType>
      <element name="validateCreditCard" type="tns:validateCreditCard"/>
      <element name="validateCreditCardResponse" type="tns:validateCreditCardResponse"/></schema></types>
  <message name="CreditCardIntf_validateCreditCard">
    <part name="parameters" element="tns:validateCreditCard"/></message>
  <message name="CreditCardIntf_validateCreditCardResponse">
    <part name="result" element="tns:validateCreditCardResponse"/></message>
  <portType name="CreditCardIntf">
    <operation name="validateCreditCard">
      <input message="tns:CreditCardIntf_validateCreditCard"/>
      <output message="tns:CreditCardIntf_validateCreditCardResponse"/></operation></portType>
  <binding name="CreditCardIntfBinding" type="tns:CreditCardIntf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="validateCreditCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation></binding>
  <service name="CreditCardService">
    <port name="CreditCardIntfPort" binding="tns:CreditCardIntfBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
