apps/opc/opc-ejb/src/main/resources/META-INF/wsdl/ActivityPurchaseOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="ActivityPurchaseOrderService" targetNamespace="urn:ActivityPurchaseOrderService" xmlns:tns="urn:ActivityPurchaseOrderService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="urn:ActivityPurchaseOrderService" xmlns:tns="urn:ActivityPurchaseOrderService" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="submitActivityReservationDetails">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="submitActivityReservationDetailsResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="InvalidOrderException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <complexType name="OrderSubmissionException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <element name="submitActivityReservationDetails" type="tns:submitActivityReservationDetails"/>
      <element name="submitActivityReservationDetailsResponse" type="tns:submitActivityReservationDetailsResponse"/>
      <element name="InvalidOrderException" type="tns:InvalidOrderException"/>
      <element name="OrderSubmissionException" type="tns:OrderSubmissionException"/></schema></types>
  <message name="ActivityPOIntf_submitActivityReservationDetails">
    <part name="parameters" element="tns:submitActivityReservationDetails"/></message>
  <message name="ActivityPOIntf_submitActivityReservationDetailsResponse">
    <part name="result" element="tns:submitActivityReservationDetailsResponse"/></message>
  <message name="InvalidOrderException">
    <part name="InvalidOrderException" element="tns:InvalidOrderException"/></message>
  <message name="OrderSubmissionException">
    <part name="OrderSubmissionException" element="tns:OrderSubmissionException"/></message>
  <portType name="ActivityPOIntf">
    <operation name="submitActivityReservationDetails">
      <input message="tns:ActivityPOIntf_submitActivityReservationDetails"/>
      <output message="tns:ActivityPOIntf_submitActivityReservationDetailsResponse"/>
      <fault name="InvalidOrderException" message="tns:InvalidOrderException"/>
      <fault name="OrderSubmissionException" message="tns:OrderSubmissionException"/></operation></portType>
  <binding name="ActivityPOIntfBinding" type="tns:ActivityPOIntf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submitActivityReservationDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output>
      <fault name="InvalidOrderException">
        <soap:fault name="InvalidOrderException" use="literal"/></fault>
      <fault name="OrderSubmissionException">
        <soap:fault name="OrderSubmissionException" use="literal"/></fault></operation></binding>
  <service name="ActivityPurchaseOrderService">
    <port name="ActivityPOIntfPort" binding="tns:ActivityPOIntfBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
