apps/opc/opc-ejb/src/main/resources/META-INF/wsdl/OpcPurchaseOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="OpcPurchaseOrderService" targetNamespace="urn:OpcPurchaseOrderService" xmlns:tns="urn:OpcPurchaseOrderService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="urn:OpcPurchaseOrderService" xmlns:tns="urn:OpcPurchaseOrderService" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="submitPurchaseOrder">
        <sequence>
          <element name="PurchaseOrder_1" type="tns:PurchaseOrder" nillable="true"/></sequence></complexType>
      <complexType name="PurchaseOrder">
        <sequence>
          <element name="activities" type="tns:Activity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <element name="billingInfo" type="tns:ContactInfo" nillable="true"/>
          <element name="creditCard" type="tns:CreditCard" nillable="true"/>
          <element name="departureCity" type="string" nillable="true"/>
          <element name="departureFlightInfo" type="tns:Transportation" nillable="true"/>
          <element name="emailId" type="string" nillable="true"/>
          <element name="endDate" type="dateTime" nillable="true"/>
          <element name="headCount" type="int"/>
          <element name="locale" type="string" nillable="true"/>
          <element name="lodging" type="tns:Lodging" nillable="true"/>
          <element name="orderDate" type="dateTime" nillable="true"/>
          <element name="poId" type="string" nillable="true"/>
          <element name="returnFlightInfo" type="tns:Transportation" nillable="true"/>
          <element name="shippingInfo" type="tns:ContactInfo" nillable="true"/>
          <element name="startDate" type="dateTime" nillable="true"/>
          <element name="totalPrice" type="float"/>
          <element name="userId" type="string" nillable="true"/></sequence></complexType>
      <complexType name="Activity">
        <sequence>
          <element name="activityId" type="string" nillable="true"/>
          <element name="endDate" type="dateTime" nillable="true"/>
          <element name="headCount" type="int"/>
          <element name="location" type="string" nillable="true"/>
          <element name="name" type="string" nillable="true"/>
          <element name="price" type="float"/>
          <element name="startDate" type="dateTime" nillable="true"/></sequence></complexType>
      <complexType name="ContactInfo">
        <sequence>
          <element name="address" type="tns:Address" nillable="true"/>
          <element name="email" type="string" nillable="true"/>
          <element name="familyName" type="string" nillable="true"/>
          <element name="givenName" type="string" nillable="true"/>
          <element name="phone" type="string" nillable="true"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="city" type="string" nillable="true"/>
          <element name="country" type="string" nillable="true"/>
          <element name="postalCode" type="string" nillable="true"/>
          <element name="state" type="string" nillable="true"/>
          <element name="streetName1" type="string" nillable="true"/>
          <element name="streetName2" type="string" nillable="true"/></sequence></complexType>
      <complexType name="CreditCard">
        <sequence>
          <element name="cardExpiryDate" type="string" nillable="true"/>
          <element name="cardNumber" type="string" nillable="true"/>
          <element name="cardType" type="string" nillable="true"/></sequence></complexType>
      <complexType name="Transportation">
        <sequence>
          <element name="carrier" type="string" nillable="true"/>
          <element name="departureDate" type="dateTime" nillable="true"/>
          <element name="departureTime" type="string" nillable="true"/>
          <element name="destination" type="string" nillable="true"/>
          <element name="headCount" type="int"/>
          <element name="origin" type="string" nillable="true"/>
          <element name="price" type="float"/>
          <element name="transportationId" type="string" nillable="true"/>
          <element name="travelClass" type="string" nillable="true"/></sequence></complexType>
      <complexType name="Lodging">
        <sequence>
          <element name="endDate" type="dateTime" nillable="true"/>
          <element name="location" type="string" nillable="true"/>
          <element name="lodgingId" type="string" nillable="true"/>
          <element name="name" type="string" nillable="true"/>
          <element name="noNights" type="int"/>
          <element name="noRooms" type="int"/>
          <element name="pricePerNight" type="float"/>
          <element name="startDate" type="dateTime" nillable="true"/></sequence></complexType>
      <complexType name="submitPurchaseOrderResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="InvalidPOException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <complexType name="ProcessingException">
        <sequence>
          <element name="message" type="string" nillable="true"/></sequence></complexType>
      <element name="submitPurchaseOrder" type="tns:submitPurchaseOrder"/>
      <element name="submitPurchaseOrderResponse" type="tns:submitPurchaseOrderResponse"/>
      <element name="ProcessingException" type="tns:ProcessingException"/>
      <element name="InvalidPOException" type="tns:InvalidPOException"/></schema></types>
  <message name="PurchaseOrderIntf_submitPurchaseOrder">
    <part name="parameters" element="tns:submitPurchaseOrder"/></message>
  <message name="PurchaseOrderIntf_submitPurchaseOrderResponse">
    <part name="result" element="tns:submitPurchaseOrderResponse"/></message>
  <message name="InvalidPOException">
    <part name="InvalidPOException" element="tns:InvalidPOException"/></message>
  <message name="ProcessingException">
    <part name="ProcessingException" element="tns:ProcessingException"/></message>
  <portType name="PurchaseOrderIntf">
    <operation name="submitPurchaseOrder">
      <input message="tns:PurchaseOrderIntf_submitPurchaseOrder"/>
      <output message="tns:PurchaseOrderIntf_submitPurchaseOrderResponse"/>
      <fault name="InvalidPOException" message="tns:InvalidPOException"/>
      <fault name="ProcessingException" message="tns:ProcessingException"/></operation></portType>
  <binding name="PurchaseOrderIntfBinding" type="tns:PurchaseOrderIntf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submitPurchaseOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output>
      <fault name="InvalidPOException">
        <soap:fault name="InvalidPOException" use="literal"/></fault>
      <fault name="ProcessingException">
        <soap:fault name="ProcessingException" use="literal"/></fault></operation></binding>
  <service name="OpcPurchaseOrderService">
    <port name="PurchaseOrderIntfPort" binding="tns:PurchaseOrderIntfBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
